[2020-02-14 15:35] runarorama commented on #1
Could you maybe write some tests? WTF.

[2020-02-14 16:53] runarorama commented on #1
Merged! Some issues:

Notes on Pull Request process:

* The nomenclature "Pull Request" is an artifact of some other tool (github).
* Especially "PR" is unclear. Like, what does it mean? You don't know unless you already know the github workflow.
* The command that gets pasted at the top of the PR output is both indented and in backticks.
* There's no indicator that the command needs to be issued

[2020-02-14 19:49] runarorama commented on #2
Looks good!

[2020-02-14 20:16] aryairani commented on #3
@pchiusano I get a different diff on this.  Did I do something wrong?

[code]

[2020-02-14 20:17] aryairani commented on #3
Maybe there was an intervening push to base2, but the result is still surprising.

[2021-05-20 02:16] runarorama opened #1 "Merge new IO, update base to use Exception"
Updates:

    1.   ability Exception e

         ↓
    2.   ability Exception
             - 3.   unisoncomputing2020 : License
             - 4.   pchiusano           : Author

    5.   unique type io.BufferMode

         ↓
    6.   unique type io.BufferMode

    7.   unique type io.Handle

         ↓
    8.   builtin type io.Handle

    9.   ability io.IO

         ↓
    10.  builtin ability io.

[2021-05-20 02:18] runarorama commented on #1
Merged in base hash `#pev4mafi5d`.

[2021-05-20 02:18] #1 closed, assigned to nobody

[2021-05-20 21:29] rlmark opened #2 "Adding functions and docs to `Optional`"
Before submitting a pull request, please doublecheck that you have included

* a clear PR description (don't bother to include issues numbers).
* `Doc`s linked for types and terms as needed
* `Author` and `License` metadata linked
* `Test`s, where appropriate

## Code review

    pull-request.load https://github.com/unisonweb/base:.trunk.Optional https://github.com/rlmark/my-unison-work:.prs.base.

[2021-06-01 19:09] pchiusano commented on #2
A couple things:

* Can you issue this PR against `base_v2` instead of the current `base`?
* It might be that this is against the wrong base namespace since `Optional.flatMap` exists in `base_v2`.
   * Possibly related: looks like `isSome.doc` and `isNone.doc` are using the old deprecated doc type
* Since this PR isn't updating any existing definitions, it should have an empty patch - you can just

[2021-06-02 20:06] rlmark opened #3 "Adding Exception functionality"
Adds helpful Exception functions.

## Code review

[code]

[2021-06-02 20:21] pchiusano commented on #3
LGTM! Merged in this commit: https://github.com/unisonweb/base_v2/commit/f93ab1448f28089a90361a973bc11737ca5ca41b

[2021-06-02 20:21] #3 closed, assigned to nobody

[2021-06-04 01:35] runarorama opened #4 "Add names for old IO types"
This adds a `Deprecated` names for old datatypes used in `IO.Deprecated`, so that they show up with e.g. `Handle.Deprecated` rather than just hashes.

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk git@github.com:runarorama/bv2:.prs.oldio

  Added definitions:

     unique type io.deprecat

[2021-06-04 15:49] pchiusano opened #5 "Switch List.initialize to be tail recursive and add new docs for it"
Also provided updated docs.

<img width="1195" alt="Screen Shot 2021-06-04 at 10 42 50 AM" src="https://user-images.githubusercontent.com/11074/120827997-a2272880-c521-11eb-8009-e313c67bca2b.png">

 The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/pchiusano/unisoncode:.prs.i

[2021-06-04 16:09] pchiusano opened #6 "Default patch should be cleaned up"
I think we could have a UCM command for this, but the RHS of all patch entries should correspond to a named entity in the current namespace. Maybe we should even just automatically enforce this when patches are built up?

I'm guessing this was just some local churn that got accidentally folded into the main patch.

You can `view #07s0393c3l` to view any of these.

[code]

[2021-06-04 16:20] rlmark commented on #5
Docs look great!

[2021-06-04 18:56] pchiusano opened #7 "Map.intersectWith and Map.intersectWithKey tests are failing"
[code]

[2021-06-05 18:30] runarorama commented on #5
Merged in base hash `#bkt9a2cpnf`

[2021-06-05 18:30] #5 closed, assigned to nobody

[2021-06-05 18:51] runarorama commented on #7
Fixed in base hash `#fbj8glq2pv` by simply running the tests again. I suspect these were run and cached with a buggy version of the runtime in the past.

[2021-06-05 18:51] #7 closed, assigned to runarorama

[2021-06-06 17:44] atacratic opened #8 "failing tests for Map.intersectWith"
I `pull https://github.com/unisonweb/base:.releases._latest .base_v2` while trying out M2, run `test`, and I see a couple of failing tests.

[code]
tagging @runarorama

[2021-06-06 19:54] atacratic commented on #8
Turns out this disappears after blowing away and regenerating the test cache, so the fix is probably to do that to the published base library.  `sqlite3 ~/.unison/v2/unison.sqlite3 "delete from watch_result; delete from watch;"` (with the path edited as appropriate) to blow away the cache (take a backup first).

But note that that will instead surface https://github.com/unisonweb/unison/issues/208

[2021-06-07 00:10] runarorama commented on #8
Duplicate of #7

[2021-06-07 00:10] #8 closed, assigned to nobody

[2021-06-07 20:51] pchiusano opened #9 "Delete `readLine` for now"
It hasn't been merged into a release yet. IIRC there were still some questions about how it should work exactly that we didn't get sorted before M2.

[2021-06-09 02:12] runarorama opened #10 "Add wrapper types to `io`"
This adds `Text` wrapper types `HostName`, `ServiceName`, and `FilePath` and updates relevant `io` operations to use these instead of `Text`.

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk git@github.com:runarorama/bv2:.newtypes

  Updates:

     List.initialize : Nat -> (Nat ->{e} a) ->{

[2021-06-09 18:27] runarorama commented on #9
Resolved in M2g

[2021-06-09 18:27] #9 closed, assigned to runarorama

[2021-06-09 21:21] pchiusano opened #11 "Little-endian `Nat` encoding and decoding"
I wanted these for some random number generation stuff.

    pull-request.load git@github.com:unisonweb/base:.trunk git@github.com:pchiusano/unisoncode:.prs.natHelpers

  Added definitions:

     Bytes.at!                         : Nat -> Bytes ->{Abort} Nat (+2 metadata)
     Bytes.at!.doc                     : Doc (+2 metadata)
     Nat.fromBytesLittleEndian         : Bytes ->{Abort} Nat (+2 met

[2021-06-10 04:04] pchiusano opened #12 "Random number generating ability"
pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/pchiusano/unisoncode:.prs.random2

We started on this during office hours the other day and I got it polished up. Here's the final interface:

[code]

The RNG state and update rule is encapsulated in the handler of the ability. This works out nicer than using something like `Store` / `State` where the RNG state leaks int

[2021-06-10 14:56] runarorama commented on #4
Did this get merged or just closed?

[2021-06-10 14:59] pchiusano commented on #4
@runarorama I think I closed this by accident! I think. If so my bad. I don't have any memory of doing so though...

[2021-06-12 17:31] atacratic commented on #12
I'm not sure that the `split` API is appropriate for other PRNGs [edit] than splitmix.  AIUI from the splitmix [paper](http://gee.cs.oswego.edu/dl/papers/oopsla14.pdf) it was a novel feature.  Sure there are plausible ways of reseeding other PRNGs to give similar behaviour, like I see you're doing with lcg here, but I doubt there'd be much guarantee of the quality and independence of the resultant

[2021-06-12 20:21] atacratic commented on #12
Meh, I guess it is good to have `split` in here - certainly makes programming better; and even if there are otherwise  cryptographically/statistically strong PRNGs that can't provide a strong `split` implementation, they don't have to implement this API, and if they do they can comment with a warning.

[2021-06-12 20:59] pchiusano commented on #12
Yeah I think it's okay if some handlers don't have a great implementation of split and that can just be noted in their docs... in fact let me note that for the lcg handler.

[2021-06-15 03:53] pchiusano commented on #12
Actually, I was noodling on this, and I think a better idea for `split` is to apply some actually vetted hashing function to the seed / state. Maybe https://hackage.haskell.org/package/murmur-hash-0.1.0.9/docs/src/Data-Digest-Murmur64.html#hash64AddWord64

[2021-06-15 04:12] pchiusano opened #13 "Request: MurmurHash2 implementation"
Here's a Haskell implementation https://hackage.haskell.org/package/murmur-hash-0.1.0.9/docs/src/Data-Digest-Murmur64.html#hash64AddWord64

This came up in #12 where we could use a hashing function that works on `Nat`. I think it'll be useful for other stuff too.

Here's a minimal proposed API:

[code]

This can use the [new documentation format](https://www.unisonweb.org/docs/documentation/).

[2021-06-16 14:56] pchiusano commented on #4
This is pushed to trunk in #i6osdf384m

We noticed some weirdness with the PR reintroducing some old definitions. We weren't sure if there's some issue with LCA calculation, an issue with the diff, or if maybe the PR was prepared with an old version of Unison.

If we continue to encounter weirdness with this we should investigate.

[2021-06-16 14:56] #4 closed, assigned to pchiusano

[2021-06-16 15:00] pchiusano commented on #11
Just noticed this was merged earlier, closing @runarorama

[2021-06-16 15:00] #11 closed, assigned to runarorama

[2021-06-16 16:55] pchiusano commented on #10
@runarorama Okay this is done in #7nm8vn4nu3

I left the old versions around for now, adding `.deprecated` to their names.

I also left the patch alone so this isn't a forced upgrade.

Overall namespace fixup is super painful and I really want some version of https://github.com/unisonweb/unison/issues/1995

[2021-06-16 16:55] #10 closed, assigned to pchiusano

[2021-06-16 16:56] rlmark commented on #2
Ok! @pchiusano thanks for the help and pointers! Trying this one again! This time against the actual right version of `.base`

[code]

[2021-06-16 17:23] pchiusano commented on #2
Great, this is all set. Made a few minor fixups to the docs - there was a stray closing `}` and I turned an inline signature to just a link to `{Universal.===}`.

[2021-06-16 17:23] #2 closed, assigned to nobody

[2021-06-16 20:06] pchiusano opened #14 "MurmurHash implementation"
This was a straightforward port of https://hackage.haskell.org/package/murmur-hash-0.1.0.9/docs/src/Data-Digest-Murmur64.html#hash64AddWord64 and I linked the creator of that package as an additional author in the metadata.

I was having a hard time finding test vectors for this. It might be that this is what I want: https://github.com/yuanzzx/murmurhash-java/blob/master/src/test/java/ie/ucd/murmu

[2021-06-16 20:08] pchiusano commented on #13
#14

[2021-06-16 20:08] #13 closed, assigned to nobody

[2021-06-16 23:01] aryairani opened #15 "couldn't delete an M1 base because `_latest` depends on it"
@hojberg ran into this on dog-fooding day.

This works:
[code]

But this fails, because the `.releases._M2*` namespaces are not self-contained; they're missing names for some types used by the constructors of `IO.Deprecated`.

[code]

`.trunk` is ok in this case, though; it includes names for them, like `io.deprecated.Error.Deprecated`

[2021-06-17 02:16] pchiusano commented on #12
I've refreshed this PR:

* It now uses murmur hash (#14) to implement splitting of the linear congruential generator
* It now includes an implementation of SplitMix, another common RNG which has a more native implementation of splitting
* I've added `Random.Readme` to give an overview of the namespace

<img width="616" alt="Screen Shot 2021-06-16 at 9 12 39 PM" src="https://user-images.githubuserc

[2021-06-18 02:36] pchiusano commented on #12
@runarorama I made a few tweaks to the readme based on your feedback - I adding a couple sections to call out categories of functions in the namespace.

<img width="618" alt="Screen Shot 2021-06-16 at 10 49 09 PM" src="https://user-images.githubusercontent.com/11074/122328398-310a4c80-cef5-11eb-9d6d-45b31b9667d0.png">

Aside: for PR review, assuming we keep using GitHub for a while longer, I think

[2021-06-20 01:37] runarorama commented on #15
This will be fixed by just making a release from trunk.

[2021-06-22 00:30] runarorama commented on #14
Merged to `trunk` in hash `#c27a3556dp`

[2021-06-22 00:30] #14 closed, assigned to nobody

[2021-06-22 00:45] runarorama commented on #12
Merged to `trunk` in hash `#pjdnqduc38`.

This PR was missing a name for the `Random` ability, so I added it.

[2021-06-23 16:00] dolio opened #16 "MVar/TVar documentation/tweaks"
The changes summarized below are available for you to review, using the
  following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/dolio/unison-base-contrib:.work.doc.concurrency

  Updates:

     io.MVar.tryPut : MVar a -> a ->{IO} Either Failure Boolean
     ↓
     io.MVar.tryPut : MVar a -> a ->{IO, Exception} Boolean
     +  unisoncomputing2021 : Li

[2021-06-23 16:02] dolio commented on #16
In addition to the doc work, I noticed that `tryPut` and `tryRead` on `MVar` were the raw `Either` versions, so I moved them and wrapped them in the `Exception` ability.

[2021-06-23 20:56] hojberg opened #17 "Add base.Text.join for joining lists of Text with a separator"
## Overview
Add a simple `join` function to take a list of Text and a separator and join the list on that separate.

[code]

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/hojberg/unison-base:._prs.base

  Added definitions:

     Text.join           : Te

[2021-06-24 17:44] dolio commented on #16
I pushed some additional docs for `MVar` `TVar` `STM` and a couple other related functions. Hopefully the PR still works.

[2021-06-25 01:20] #12 closed, assigned to nobody

[2021-06-29 00:24] runarorama commented on #16
Merged in into base in root hash #qua5u4r2gb

[2021-06-29 00:24] #16 closed, assigned to nobody

[2021-06-29 00:35] runarorama commented on #17
This PR is slightly incomplete. It's missing a name for the author metadata hash. It's not really a problem though, as you can always submit that name in a later PR.

[2021-06-29 00:44] runarorama commented on #17
Merged into base in root hash #dolohrbfdd. 🌈⭐

[2021-06-29 00:44] #17 closed, assigned to nobody

[2021-06-30 20:25] dolio opened #18 "Implemented `TMVar` and associated functions"
The changes summarized below are available for you to review, using the
  following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.
com/dolio/unison-base-contrib:.work.tmvar

  Added definitions:

     type io.TMVar a (+2 metadata)
     io.TMVar.TMVar          : TVar (Optional a) -> TMVar a
     io.TMVar.doc            : Doc (+2 metadata)
     io.TMVar.isEm

[2021-07-01 02:58] runarorama opened #19 "Move `Universal.<` and friends to a new name"
This gives the `Universal.<` function (and `>` etc) the same treatment as when we moved `Universal.==` to `Universal.===`, and for the same reason. Structural comparison is almost always never the comparison you want, in particular because of things like https://github.com/unisonweb/unison/issues/2083, and having a name in common use like `<` is potentially confusing.

Introduced `Nat.<` etc. as w

[2021-07-01 03:30] pchiusano commented on #19
@runarorama cool.

For naming, we should probably be consistent on `lessThan` vs `lt` vs `precedes` etc. I'd go with `Universal.lt`, `Universal.gt`, `Universal.gteq` etc for consistency with what's already there for the other types.

Argument against precedes/succeeds is that "succeeds" has a confusing alternate meaning and I think "less than" / "greater than" is more common nomenclature.

Also no

[2021-07-01 19:43] rlmark opened #20 "Adding an unsafeRun! function for Exception"
* This PR adds a function called `Exception.unsafeRun!` which will call the `bug` built-in if an exception is raised. It's a bit of a stopover until the solution for `https://github.com/unisonweb/unison/issues/2025` lands.

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load git@github.com:unisonweb/base:.trunk.Excepti

[2021-07-05 20:08] anovstrup opened #21 "Stream functions"
The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/anovstrup/unison-all:.prs.base._stream.v3

  Updates:

     Stream.range : Nat -> Nat ->{Stream Nat} ()
     ↓
     Stream.range : Nat -> Nat -> '{Stream Nat} ()
     +  anovstrup.mit_2020  : License
     +  unisoncomputing202

[2021-07-08 14:48] runarorama commented on #18
Pushed to `trunk` in hash `#k4dtlqavv7` 🌈⭐

[2021-07-08 14:48] #18 closed, assigned to nobody

[2021-07-08 17:27] runarorama commented on #19
Fixed and pushed to trunk as hash `#c344nqj8u5`

[2021-07-08 17:27] #19 closed, assigned to pchiusano

[2021-07-08 17:54] pchiusano commented on #21
Sweet. @anovstrup I think @runarorama taking a look at this soon and might have more comments. One minor thing I noticed:

[code]

I don't think there should be any updates as part of this if it's just new definitions, but was there some bugfix? If you just want to repurpose the `Stream.range` name but the old definition is still valid, you can do `update .trash` and then `delete.patch .trash` at

[2021-07-08 17:57] runarorama commented on #20
Merged in root hash `#sttm2ll24n`. Thank you! 🌈🌟

[2021-07-08 17:57] #20 closed, assigned to nobody

[2021-07-08 18:01] anovstrup commented on #21
@pchiusano looks like something odd happened with `Stream.range!` after I merged `.base.Stream` into my `Stream` namespace and tried to resolve the conflicts. Now I see
[code]
in my namespace, which is certainly _not_ what I intended.

[2021-07-08 18:08] pchiusano commented on #21
@anovstrup if there's a `Stream.range! -> Stream.range` mapping in the patch (my guess), then during patch propagation that will rewrite all instances of `Stream.range!` to be `Stream.range`.

Your best bet might be to 1) delete that entry from the patch, it'll look like -

[code]

And then `alias.term #somehash Stream.range!`.

Then double check `view Stream.range!` to make sure it's what's expec

[2021-07-08 18:34] anovstrup commented on #21
@pchiusano I think I fixed it.

[2021-07-08 18:58] anovstrup commented on #21
@pchiusano I'm wondering if the patch should have an entry for `Stream.toList`?  I renamed it `Stream.toList!` _and_ widened the argument type to take `'{g, Stream a} r` instead of just `'{g, Stream a} ()`, but all calls to the old `Stream.toList` can be replaced with calls to the new `Stream.toList` without intervention. Is that something ucm can handle, or do patches like that have to be done ma

[2021-07-08 19:10] pchiusano commented on #21
👍

Mmm, yeah anytime the new type is a subtype of the old then that's safe to add to the patch and that can be applied automatically.

OTOH, the old version is still perfectly valid. I guess I'd lean toward not adding it to the patch for that reason but don't have strong feelings. We could always decide later. :)

[2021-07-08 19:13] anovstrup commented on #21
@pchiusano I wound up using `alias.term .base.Stream.toList Stream.toList!` and `update Stream.toList!` to give it a patch entry, but you guys can always remove it from the patch before merging. I guess there's not really any reason for callers of the old definition to update to the new, equivalent one (_edit_: except, perhaps, that the old one won't have a name?).

[2021-07-08 19:50] anovstrup commented on #21
I fixed an off-by-one and eagerness/type issue in `Stream.to!` and added `Stream.rangeClosed!`, `Stream.rangeClosed`, `Stream.until!` and `Stream.until` in a new version of the PR (at https://github.com/anovstrup/unison-all:.prs.base._stream.v2 instead of https://github.com/anovstrup/unison-all:.prs.base._streamPR, to facilitate code review / comparison).  The description above is updated to refle

[2021-07-08 20:06] anovstrup commented on #21
I generalized `interleave`/`interleave!` and `zip`/`zip!`, and added `zipWith`/`zipWith!` in https://github.com/anovstrup/unison-all:.prs.base._stream.v3.

[2021-07-09 13:56] runarorama commented on #21
Merged into trunk in hash `#aip49ca6q5` 🌈🌟

[2021-07-09 13:56] #21 closed, assigned to nobody

[2021-07-13 17:19] aryairani opened #22 "create a CI system for base"
I guess it would pull `.trunk` and run `test`.

[2021-07-16 17:23] pchiusano opened #23 "Replace `docEval` and `docEvalInline` to require that functions be pure"
This is the change to base to go with https://github.com/unisonweb/unison/issues/2238. It tweaks the signature of `docEval` and `docEvalInline` to disallow abilities.

The signature actually looks the same in the diff due to this bug https://github.com/unisonweb/unison/issues/2242

I went ahead and added those entries to the default patch. So doing `todo` on trunk will show you docs that depend on

[2021-07-16 17:26] pchiusano commented on #23
~~Standby, the change to `Random` shouldn't be part of this PR.~~ Okay, all set.

[2021-07-16 18:22] runarorama opened #24 "Add arbitrary-precision Natural numbers"
This adds the `Natural` type, operations on that type, and a few supporting operations to Base. This type provides arbitrary-precision arithmetic on positive integers, letting users work with very large numbers as well as paving the way for supporting exact fractions and rational numbers.

Operations here are not nearly as fast as they could be, as the underlying type is a `List`. Once we have a m

[2021-07-28 14:47] pchiusano commented on #23
This is merged.

[2021-07-28 14:47] #23 closed, assigned to nobody

[2021-07-28 16:45] pchiusano commented on #24
All set, merged in #09jrat6gnn (or is it #e68f00uusd)

This took me forever due to some weird conflicts that I might be starting to understand.

If I edit a namespace, updating the definitions `foo` and `bar`, and you update the namespace, adding the definition `Natural.toText`, the right behavior is that `foo` and `bar` are the versions I updated, and your (new definition) `Natural.toText` is add

[2021-07-28 16:45] #24 closed, assigned to pchiusano

[2021-07-29 02:36] pchiusano opened #25 "`getLine` and `console.getLine`"
[code]

[2021-07-29 02:37] pchiusano commented on #25
Merged in #6tv6kbot0p

[2021-07-29 02:37] #25 closed, assigned to nobody

[2021-07-29 18:35] pchiusano commented on #24
Update is I wasn't able to reproduce the issue according to my theory (https://github.com/unisonweb/unison/pull/2274), so I'm still not sure what was going on here.

[2021-07-29 18:42] pchiusano commented on #24
Aaron also noted similar problems pulling an updated version of base.

So the two hashes are: #09jrat6gnn (the hash of trunk as of this merged PR) and Aaron hit issues merging into #dfeugrm96l, ~~even though #dfeugrm96l is an ancestor of  #09jrat6gnn and it should just fast forward~~ - disregard, actually, that hash had some updates not in trunk of base.

[2021-08-05 16:01] pchiusano commented on #24
My current theory is that the namespace from this PR had been pre-squashed, so it had no LCA with trunk and everything was a conflict. It is generally fine to squash a newly added namespace, but squashing the root base namespace is no good.

I'd like to verify this though, by taking a look at the history of the hashes being merged.

@runarorama does this sound familiar at all?

[2021-08-06 02:32] sullyj3 opened #26 "Store.unfold, List.iterate, Stream.iterate"
Also includes some changes from @anovstrup to Abort.

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/sullyj3/myUnisonCodebase:.prs.base.unfoldStore

  Updates:

     Abort.toOptional : '{g, Abort} a ->{g} Optional a
     ↓
     Abort.toOptional : '{g, Abo

[2021-08-06 02:53] pchiusano commented on #26
Cool! I probably won't get to take a closer look at this until next week and @runarorama is also out.

One thing I noticed: I don't think there should be any patch updates with this PR. The name `Abort.toOptional` was repurposed but the old definition is still valid, and I think the definition is now called `Abort.toOptional!`. Me or @runarorama can fix up the PR though, the functionality looks gr

[2021-08-06 03:17] sullyj3 commented on #26
Having thought about it more, I think iterate ought to return a stream, not a list, and should not require the passed function to decide when to stop. That should be the responsibility of the caller, using something like take or takewhile. In Haskell iterate returns a lazy infinite list, and I was confused since Haskell collapses the distinction between the two.

This only really occurred to me wh

[2021-08-06 03:20] sullyj3 commented on #26
For sure, I also have `List.deleteFirst : (a -> Boolean) -> [a] -> [a]`, which I could generalize and add

[2021-08-06 03:31] anovstrup commented on #26
@sullyj3 You'll also want to add aliases for your `Author` and `License` metadata to the `metadata.authors` and `metadata.licenses` namespaces, respectively. e.g., `alias.term sullyj3 .prs.base.unfoldStore.metadata.authors.sullyj`.

[2021-08-06 03:50] sullyj3 commented on #26
Ah yep, do I also need to alias my `CopyrightHolder` and `GUID`?

[2021-08-06 03:56] ChrisPenner opened #27 "Generalize type of Stream.flatMap"
## Code review

Stream.flatMap should allow changing the type of the emitted values; `flatMap!` has the correct type, but `flatMap` didn't.

P.s. I think I might not have gotten the metadata & licenses quite right; if there are some commands I can run to fix the patch please let me know.

[code]

[2021-08-06 03:58] sullyj3 commented on #26
Updated with just `Author` and `License` for now

[2021-08-06 06:38] anovstrup commented on #26
Yep, mirror the structure of one of the existing authors. I think it's just a couple `copy.namespace` commands at this point.

[2021-08-07 04:38] sullyj3 commented on #26
Righto cool. Updated with the additional metadata as well as `Stream.iterate`

[2021-08-07 08:00] sullyj3 opened #29 "Add List.find, List.deleteFirst"
Add functions for finding an item in a list by predicate, and for deleting a single item from a list by predicate. Paul asked specifically for `find`, I'm happy to bikeshed or remove `deleteFirst` if y'all prefer.
<hr>

Before submitting a pull request, please doublecheck that you have included

* a clear PR description (don't bother to include issues numbers).
* `Doc`s linked for types and terms

[2021-08-11 03:31] pchiusano opened #30 "Convert `Random` ability to `unique`"
.prs.uniqueRandom> squash .prs.uniqueRandom .prs.clean.uniqueRandom

  Here's what's changed in .prs.clean.uniqueRandom after the merge:

  Updates:

    1.  ability Random
        ↓
    2.  unique ability Random
           + 3.  unisoncomputing2021 : License
           + 4.  pchiusano           : Author
           + 5.  runarorama          : Author

    6.  Random.Readme : Doc
        ↓
    7.  R

[2021-08-11 03:31] pchiusano commented on #30
Pushed in #9td4u0pkmp

[2021-08-11 03:31] #30 closed, assigned to nobody

[2021-08-11 04:24] pchiusano commented on #29
Thanks! Looks good, merged in #uvabu72dbc

I merged it as is, but for the docs, I'd try to include 1-2 examples to demonstrate usage. Like check out these docs:

https://share.unison-lang.org/@bspt8cr08m0m9egkb94vlalqspkudj8363knhg7llrjoblmboa0990l5otfiljnk3md0fpi2c6462qmn7iedsjd8ckggfrk4cm5tk08/terms/base/Random/doc

And you can also see the source of the doc there.

[2021-08-11 04:24] #29 closed, assigned to nobody

[2021-08-11 16:09] pchiusano opened #31 "Add binary encoding/decoding builtins of various widths and endian-ness"
Added these in latest trunk

.prs.basebytes> diff.namespace ._base.Bytes

  Added definitions:

    1.  decodeNat16be : Bytes -> Optional (Nat, Bytes)
    2.  decodeNat16le : Bytes -> Optional (Nat, Bytes)
    3.  decodeNat32be : Bytes -> Optional (Nat, Bytes)
    4.  decodeNat32le : Bytes -> Optional (Nat, Bytes)
    5.  decodeNat64be : Bytes -> Optional (Nat, Bytes)
    6.  decodeNat64le : Bytes

[2021-08-11 16:10] pchiusano commented on #31
Merged in https://github.com/unisonweb/base/commit/fbcb7521818b5eca5ba39c1f460c7d2e6585e0dc

[2021-08-11 16:10] #31 closed, assigned to nobody

[2021-08-11 19:04] runarorama opened #32 "Update a number of out-of-date docs"
This updates a few terms in `base` that were referencing hashes for which there exist no names in `base`. Looks like these were artifacts of an update that didn't propagate to docs for some reason.

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk git@github.com:runarorama/bv2:.missingNamesA

[2021-08-11 19:10] pchiusano commented on #32
Merged in https://github.com/unisonweb/base/commit/1cad66273e910302665fbff5d215a0fe975cc1f3

[2021-08-11 19:10] #32 closed, assigned to nobody

[2021-08-11 19:17] pchiusano opened #33 "Concurrent queue implementation"
Pretty standard STM-based concurrent mutable queue implementation.

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk.io.STM https://github.com/pchiusano/unisoncode:.prs.tq

  Added definitions:

     unique type TQueue a (+2 metadata)
     TQueue.TQueue                   : TVar [a] -> TVar N

[2021-08-11 20:13] pchiusano commented on #33
Added some basic tests as well.

Also credit to @dolio for helping with this.

[2021-08-18 22:02] pchiusano opened #34 "`unsafeAt` should use `bug` rather than infinite loop"
Currently if the index is out of bounds, it infinite loops! Ha. I think the origin of this is that it predates the `bug` function, and we had no other way to just crash the program.

https://share.unison-lang.org/@hcmfjhke0cuv26ksu80rivcmrkng2loo992j5lfogp4t8om6nu5c915064iuem8r8rsbeckopr3hmtrsqda0hiup9725h5c7req4vv8/terms/base/List/unsafeAt

[2021-08-24 01:05] runarorama commented on #26
Merged in base hash `#p47o3ehssr` 🌈🌟

[2021-08-24 01:05] #26 closed, assigned to nobody

[2021-08-24 02:00] runarorama commented on #27
Merged in base hash `#buad16o4j0` 🌈🌟

[2021-08-24 02:00] #27 closed, assigned to nobody

[2021-08-24 02:59] runarorama commented on #33
Merged in base hash `#iup5vf5bqf`

🌈🌟

[2021-08-24 02:59] #33 closed, assigned to runarorama

[2021-09-05 16:44] aryairani opened #35 "Missing documentation for Debug.watch"
Thanks to @meijeru for reporting.

[2021-09-05 16:45] aryairani opened #36 "Missing documentation for Float.floor and Float.truncate"
Thanks to @meijeru for reporting.

[2021-09-05 16:46] aryairani opened #37 "Missing documentation for Int.shiftRight"
Also, we should have logical and arithmetic right shifts for signed Ints.

Thanks to @meijeru for reporting.

[2021-09-05 16:49] aryairani opened #38 "Inconsistent existence of operators across different base types"
Thanks to @meijeru for reporting.

[2021-09-07 16:35] runarorama opened #39 "Convert from Doc.Deprecated to Doc"
There's currently not a good way of converting from the old documentation format to the new. This should be straightforward to address with a function of type `Doc.Deprecated -> Doc`.

[2021-09-07 19:04] atacratic commented on #39
I guess that even so, in the longer term it would still be good to change the implementation of all the docs so that instead of looking like
[code]
they instead look like
[code]
right?  Particularly if the pretty-print for [: :] docs has rotted?

[2021-09-10 23:20] rlmark opened #40 "Adding List, Char, and Text utilities post-dogfooding"
@hojberg, @pchiusano and I added a few functions to base.

Also, apologies if I have massively messed up the PR process once again. 🤞

## Controversial Decisions:

* `Text.trim` walks the string twice. We can write a more efficient but less concise function if need be.
* We weren't sure what `findMap` should be called.
* `Char.isWhitespace` defines whitespace as `\s`  `\t` `\n` and `\r` - but mayb

[2021-09-22 19:00] ceedubs opened #41 "Exception.bracket and finally don't necessarily run end/close"
It's pretty easy to create a call to `Exception.bracket` (and similarly `Exception.finally`) in which the end/close callback is never actually called. This makes it prone to resource leaks.

I don't _think_ that it's possible to implement a safe version of these functions with their current type signatures. They currently allow any `g` ability in the provided functions, but one of these abilities

[2021-09-22 19:02] ceedubs commented on #41
@rlmark it looks like this was introduced in #3. Do you have thoughts on how we handle this? It would be great if the current type signature could be supported, so I'm hoping that someone proves me wrong.

[2021-09-22 20:56] pchiusano commented on #41
I think the answer is just: don't use these functions with `g` that allows for early termination. (I think also problematic will be any `g` that uses the continuation multiple times.) Type signatures can be used to constrain things at use sites, and I think for these we could add specialized versions: `finalize.io`, `bracket.io`, etc, where `g` is just `{IO}` and no other abilities (besides `Excep

[2021-09-22 21:13] ceedubs commented on #41
@pchiusano I think that change sounds reasonable, but we should probably add some docs warning about how you can get into trouble here. I'm also a bit inclined to use names that don't seem quite so safe (especially `finally`), but maybe I'm worrying too much.

[2021-09-22 21:13] ceedubs commented on #41
I guess that I signed up to be the one to add the docs :)

[2021-09-22 21:24] rlmark commented on #41
Ah, yeah @ceedubs I see your point. Bracket has some preliminary docs but they could definitely use this caveat! I'm also open to renaming 'finally' - as I agree that could trip folks up, though I'm not sure what that name should be 😅

[2021-09-26 19:57] anovstrup opened #42 "Draft: new Abort/Store/Optional functions"
* This PR renames `Abort.toDefault!` -> `Abort.toDefaultValue!` and repurposes `Abort.toDefault!` to take a delayed computation as a default instead of a default value.  It also renames `Abort.toDefault` -> `Abort.toDefaultValue` and repurposes `Abort.toDefault` for the delayed version of `Abort.toDefault!`. An `Optional.getOrElse'` function, which takes a delayed default, is also added.
* The PR

[2021-09-29 16:01] #15 closed, assigned to nobody

[2021-09-29 17:09] runarorama commented on #40
Great!

I think we should at some point update `isWhitespace` to include vertical tabs and any Unicode space characters (see https://www.compart.com/en/unicode/category/Zs) like "em space", "en space", and nbsp.

[2021-09-29 17:26] runarorama commented on #40
`dropLastWhile` is already in `base` as `List.dropRightWhile`

[2021-09-29 17:37] runarorama commented on #40
I've made this change.

[2021-09-29 17:38] runarorama commented on #40
Merged in base hash `#q7s6r7mr8k`. 🌈🌟

[2021-09-29 17:38] #40 closed, assigned to nobody

[2021-09-29 17:39] runarorama commented on #42
Is this still in the draft stage?

[2021-09-29 17:48] anovstrup commented on #42
@runarorama In the sense that I wouldn't necessarily merge it without more tests / better docs, yes. But I would like feedback if you've got any before I go further.

[2021-09-30 14:44] pchiusano opened #43 "Switch `EpochTime` to use `Int`"
Allowing it to talk about times before 1970.

[2021-10-05 17:09] pchiusano opened #44 "Add aliases for new compression builtins"
[code]

[2021-10-05 19:23] runarorama commented on #44
Fixed in base hash `#q7s6r7mr8k`

[2021-10-05 19:23] #44 closed, assigned to runarorama

[2021-10-05 21:12] ceedubs opened #45 "Point to current base methods in Bag.convolve.tests.natural"
## Summary

The current `Bag.convolve.tests.natural` implementation refers to some terms that are no longer in base, and therefore just so hashes on Unison share. This also can prevent people from deleting old versions of base that they might have previously pulled.

### Before

[code]

### After

[code]

## Code review

  The changes summarized below are available for you to review, using the fol

[2021-10-06 14:23] runarorama commented on #45
Merged in `#q7s6r7mr8k`

[2021-10-06 14:23] #45 closed, assigned to runarorama

[2021-10-10 16:40] ChrisPenner opened #46 "[DRAFT] Add `duration` library for representing finite durations."
TODO:

- [ ] Docs
- [x] Tests
- [ ] Link metadata

Before submitting a pull request, please doublecheck that you have included

* a clear PR description (don't bother to include issues numbers).
* `Doc`s linked for types and terms as needed
* `Author` and `License` metadata linked
* `Test`s, where appropriate

## Code review

  The changes summarized below are available for you to review, using th

[2021-10-12 20:23] ChrisPenner opened #47 "Documentation Wanted 😄"
If you're reading this, we'd love your help documenting our `base` library!

* Check out our Unison ["Getting Started" guide](https://www.unisonweb.org/docs);
* Next up, learn how to write docs in Unison! Docs in Unison are much more powerful than other languages, so check out our guide on [Documenting Unison Code](https://www.unisonweb.org/docs/documentation)
* Submit a Pull Request to our base l

[2021-10-13 18:09] ChrisPenner opened #48 "BDD style test helpers and docs"
Adds helpful BDD-style test helpers to the testing library. By accepting both a label and a list of tests we avoid superfluous parens.

Also clears up confusion between `assert`s which are meant to be used in regular code vs the expectation helpers which are specifically for tests. I changed the new `expectEquals` to return a Test so that it can be used inline without an "expect"

Assertions for "

[2021-10-14 16:41] ChrisPenner opened #49 "Add library for representing durations"
Before submitting a pull request, please doublecheck that you have included

## Code review

.> pr.create https://github.com/unisonweb/base:.trunk https://github.com/ChrisPenner/unison-  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk https://github.com/ChrisPenner/unison-codebase:.prs.base._

[2021-10-15 15:24] #46 closed, assigned to nobody

[2021-10-20 20:11] KF525 opened #51 "Add List.dropLast doc"
## Code review

.> pull-request.create https://github.com/unisonweb/base:.trunk.List https://github.com/KF525/unison-code-v1:.prs.List

  The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:.trunk.List https://github.com/KF525/unison-code-v1:.prs.List

  Added definitions:

     dropLast.doc : Doc (+2 m

[2021-10-21 15:31] runarorama opened #52 "Fix a few roundtrip issues, add docs for `Boolean`"
This replaces a couple of terms that no longer roundtrip through the pretty-printer/parser.

In getting ready to repair a function `logic` that doesn't roundtrip, I found I needed to add a number of operations on `Boolean`. This PR includes those changes, but not the (more involved) change to `logic`. I added documentation for `Boolean` while I was in there.

Also adds a few placeholder names for

[2021-10-21 15:50] runarorama opened #53 "Fix a few non-roundtripping terms and types"
This replaces `void` and friends, as well as adding placeholder names for `IO.Deprecated` constructors, so that these definitions can roundtrip through the pretty-printer/parser. The goal is ultimately that there will be nothing in `base` that doesn't roundtrip.

I also added documentation for `Boolean` while I was in there. I added a few Boolean ops as part of getting ready to replace the functio

[2021-10-21 15:51] #52 closed, assigned to pchiusano

[2021-10-21 15:51] runarorama commented on #52
Dupe

[2021-10-21 17:48] ceedubs commented on #42
Thanks for this PR, @anovstrup! I'm sorry for the lack of response. I've hesitated a bit because of the introduction of `Lens`. I've thought to myself that I'm not sure that anyone has really thought through what lenses should look like in Unison, and so do we really want to add a canonical `.base.Lens` at this point? Should `Lens` live in another lib outside of base? Having said that, your `Lens`

[2021-10-22 18:50] anovstrup commented on #42
@ceedubs I had the same reservations about including `Lens`.  I'd be happy to keep `Lens` and `Store.focus/Store.focus!` in a separate lib.

[2021-10-25 17:08] ceedubs opened #54 "systemTimeMicroseconds should be an alias"
`base.io.systemTimeMicroseconds` should be a proper `alias.term` for the corresponding builtin.

Right now it is a function that delegates through to the builtin:

[code]

This means that it has a different hash than the builtin, and it's possible to get into a situation where you can't delete a `.builtin` namespace, because you don't have a corresponding term for the builtin hash provided by `.ba

[2021-10-25 17:09] ceedubs commented on #54
While this is being worked on, it's probably worth checking whether there is a similar issue for other builtins.

[2021-10-25 17:36] pchiusano commented on #54
We could add a replacement to the default patch I guess. Kind of annoying to force an upgrade on people for this when the version in base is fine but just has a pointless level of indirection.

WDYT of the following:

Rename the one with the extra indirection to `io.sleepMicroseconds.deprecated` and create a patch `io.sleepMicroseconds.patch` which has just this replacement. Add a `Doc` on the dep

[2021-10-25 18:47] ceedubs commented on #54
@pchiusano I don't think that moving the term to `io.sleepMicroseconds.deprecated` will fix the problem that I'm having where someone has a `.builtins` namespace that is causing ambiguity between `builtin.Universal.>=` and `Nat.>=` and can't delete said namespace because `base` is referencing terms in it.

[2021-10-25 19:16] pchiusano commented on #54
Right. You could rename `builtin.Universal.>=` locally to `builtin.Universal.gteq` right?

[2021-10-25 19:30] ceedubs commented on #54
@pchiusano I could. My concern was that anyone else who tries to use `>=` on `Nat` (which seems like a pretty common use-case) would run into the same issue. I don't really care about the indirection in `systemTimeMicroseconds` at all other than that it indirectly makes it a pain for people to compare `Nat`s.

[2021-10-25 19:44] pchiusano commented on #54
@ceedubs right, but `Universal.>=` doesn't exist in base (anymore). Maybe we should remove it from the default `builtin` namespace, but the idea is that nobody should be using that - people should get their builtins from base.

[2021-10-25 20:20] ceedubs commented on #54
@pchiusano okay it sounds like maybe I did something that I shouldn't have and so I have a `builtin` namespace but other people don't.

In that case, I'll keep this issue open, and the `.deprecated` solution seems reasonable, but it also doesn't seem like a very big deal if there is a slight amount of indirection in the the `systemTimeMicroseconds` function.

[2021-10-25 23:22] ceedubs opened #55 "Change Stream.iterate return type from () to Void"
This changes the return type of `Stream.iterate` and `Stream.iterate!` to be `Void` instead of `()` (without actually changing the implementation at all) to make it clear from the type that these generate a non-terminating result.

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load git@github.com:unisonweb/base:.trunk

[2021-10-26 13:06] ceedubs commented on #42
@anovstrup I was hoping that @runarorama might weigh in. But I do think that it maybe at least makes sense to move the lens stuff into another PR if not another lib. Thanks a lot!

[2021-10-26 15:12] ChrisPenner commented on #42
I have a few thoughts on optics in unison; and I think something so foundational deserves PR all to themselves, so I'd prefer we leave them out of this one 😄

Although the lens you present looks perfectly fine in isolation, I'm really curious how you would encode Traversals and Folds and how they would compose with one another without type classes or row polymorphism.

In theory you could use Van-

[2021-10-27 23:43] ceedubs opened #56 "Add Throw.catchWith and Throw.toException"
Occasionally it's useful to handle thrown values and to convert between APIs that `throw` and those that `raise`.

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load git@github.com:unisonweb/base:.trunk git@github.com:ceedubs/unison-dev:.pr.base.catchWith

  Added definitions:

     Throw.catchWith       : (e ->{g1} a

[2021-11-05 21:47] ceedubs commented on #48
I definitely like the `expectEquals` addition.

Personally I've never been into the BDD DSLs that attempt to read like English sentences. It works fine in an example, but I think that it's confusing to newcomers to `ls` the methods in `.base.test` and find functions with names like `it`.

I could totally see a BDD-style library forming out of this sort of thing. But I fear that it might be a bit t

[2021-11-05 23:58] ChrisPenner commented on #48
I'd say it's just as opinionated to use "generic" names as it is to use BDD, they're just different opinions aren't they? 😋
But for my side I don't care nearly as much about the *names* of the combinators as I do about the combinators themselves being nice to work with, promoting good practices (i.e. named tests) and reducing boilerplate & redundancy.

[2021-11-10 18:56] runarorama opened #57 "`Natural.toNat` is broken for large numbers."
[code]

[2021-11-14 21:06] hagl opened #58 "`Nat.toBytesLittleEndian` uses big-endian encoding"
Contrary to its name the function [Nat.toBytesLittleEndian](https://share.unison-lang.org/@7k32lmrc5i2412q3ujel1e9u5p50vp369htvhnec3csek296fe5vl2mif949cg4q2grir06ii1eighp9tbbghjka1kfughkjcnfcktg/namespaces/unison/base/;/terms/Nat/toBytesLittleEndian) encodes a Nat in big-endian format:
[code]
Since there are built-in functions `Bytes.encodeNat64le` and `Bytes.encodeNat64be`, the `Nat.toBytesLittle

[2021-11-16 00:33] ceedubs opened #59 "Add Throw.unwrap! and unwrap"
Throw.unwrap! takes a delayed computation that can either return *or* throw a value of type `a`
  and returns the `a` value that was either returned or thrown.

  This can be used to achieve the same behavior as an early `return` statement in an imperative
  language, using throw instead of `return`. For example, consider the following sumUntil function.
  It will sum all of the numbers in a List,

[2021-11-16 14:54] ceedubs commented on #51
@KF525 thanks a lot! This is now merged into the `base.trunk` namespace at hash `#je67q0406o`.

Apologies for the delay on a really straightforward PR.

[2021-11-16 14:54] #51 closed, assigned to nobody

[2021-11-16 20:10] ceedubs commented on #58
@hagl thank you for reporting this! You are right, this should use the builtins.

[2021-11-17 01:09] ceedubs opened #60 "Stream.take and take! request one more item than necessary"
If you call `Stream.take 3`, then only `3` values will be _emitted_ by the resulting stream, but 4 elements will actually be _requested_ of the input stream.

Consider the following function. Since we take `3` elements, I would expect that after the third element is emitted (`3`) there is not an additional call to `go`, and therefore the log message is never printed when `n` is `4`.

[code]

Howev

[2021-11-17 17:41] ceedubs opened #61 "More flexible type signature for Stream.+:"
The `Stream.+:` type signature was `a -> '{Stream a} r -> '{Stream a} r`. However its implementation supports the more general (and significantly more useful) type signature `a -> '{g, Stream a} r -> '{g, Stream a} r`.

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load git@github.com:unisonweb/base:.trunk git@github.

[2021-11-17 20:56] aryairani commented on #53
We reviewed this today. `Boolean.docs.binaryTruthTable` is super cool!

When we reached `Boolean.inhibitedBy` we started to wonder if all of these functions actually deserve names in `base`, or if they are just adding to the complexity of the library without benefit? https://wiki.haskell.org/Fairbairn_threshold.

Otherwise, seems fine! We held off merging.

[2021-11-17 21:04] hagl opened #62 "Fix Natural.toNat for numbers > 0xFFFFFFFF"
The original code of `Natural.toNat` multiplies the upper and lower 32bits instead of adding them, so for any Natural > 0xFFFFFFFF the result is wrong.

Fixes https://github.com/unisonweb/base/issues/57

This PR basically changes the * to + and adds a test case.
[code]
Ideally this bug should have been discovered by the existing property test `Natural.toNat.tests.roundtrip`. But with the generator

[2021-11-19 18:09] pchiusano commented on #61
Test comment to check Slack notifications.

[2021-11-20 18:24] aryairani opened #63 "helpers for `base.Text` are under `base.Text` but helpers for `base.Test` are under `base.test`"
(Upper vs lower case.)

Which should it be?

[2021-11-22 17:22] ceedubs commented on #59
I chose the name `unwrap` because this is very similar to `Either.unwrap`.

[2021-12-02 17:29] runarorama commented on #42
I'm going to close this for now, as the consensus seems to be that this should be at least 2 PRs to Base. I'm sympathetic to the idea that lenses should be in Base, but I'm also reluctant to add them in so casually.

I'm working on some guidelines for _what exactly should be in Base_, which I'll publish soon. The gist of it is that things should probably be in Base if at least one of these is true

[2021-12-02 23:34] iamevn opened #64 "fix List.rangeClosed with lower-bound of 0"
Currently, List.rangeClosed doesn't work when the lower-bound is 0:
[code]

This PR fixes that and adds some tests:
[code]

In the pull-request.create output, it shows that Licenses and Authors were added for `List.rangeClosed`, `Nat.rangeClosed`, and `README`. The first two merely had their definitions updated without touching metadata (they're aliases of each-other) and `README` is entirely unto

[2021-12-03 00:23] iamevn opened #65 "Add: `Boolean.toText`, `Char.!=`, `List.count`, `List.countEq`, `List.filterPresent`, `List.product`, `List.sum`, `Nat.subtractClamped`, `Set.intersects`"
Some additions I've found I wanted recently. I can split this out if that's preferred for review.

~~I'm not sure if `Nat.subtractClamped` is the best name for that function, I wanted it to be clear that it's not just subtraction since it saturates to 0.~~
Edit: removed `Nat.subtractClamped`, swapped added doc and tests to use `Nat.drop`

#### Similar notes as in #64:
In the pull-request.create ou

[2021-12-04 19:43] anovstrup commented on #42
I removed the `Lens` stuff from the PR and updated the description accordingly.

[2021-12-09 21:41] ceedubs opened #66 "Swap parameters to Natural.parse?"
Currently `Natural.parse` has the signature `Text -> Nat -> Optional Natural` where the `Text` is something like `d8a2` and the `Nat` is a radix (like 16).

But it seems like it would be much more common to fix a radix and then parse multiple strings than it would be to fix a string and then try to parse it in several different ...radices? Should the argument order be swapped?

If it is, then `par

[2021-12-10 00:55] aryairani commented on #66
It would be a not-automatically-propagatable change until we have the ability to represent parameter reordering in a patch.

[2021-12-10 01:05] anovstrup commented on #66
@aryairani No, but there's nothing fundamentally wrong with the existing definitions.  The proposed change could just introduce new definitions (repurposing the names) so that existing code can continue using the current definitions, and the current definitions could be renamed (e.g., `Natural.parse` -> `Natural.parse.deprecated`) to avoid existing references to them showing up as hashes.

[2021-12-10 01:46] aryairani commented on #66
@anovstrup Totally.

[2021-12-11 02:02] runarorama opened #67 "Flip argument order for Natural.parse and Natural.toText"
Fixes #66

    pull-request.load https://github.com/unisonweb/base:.trunk git@github.com:runarorama/bv2:.prs.pr66

  Updates:

     Natural.docs.constructing : Doc
     ↓
     Natural.docs.constructing : Doc
     +  unisoncomputing2021 : License
     +  runarorama          : Author

     Natural.parse : Text -> Nat -> Optional Natural
     ↓
     Natural.parse : Nat -> Text -> Optional Natural

[2021-12-11 02:12] runarorama commented on #67
Merged in base hash #qgsul1idd0

[2021-12-11 02:12] #67 closed, assigned to nobody

[2021-12-11 02:12] #66 closed, assigned to nobody

[2021-12-11 02:48] runarorama commented on #64
Small thing: this PR is based off the M2k release but should have been based off trunk. So a change to `README` snuck in there.

On the copyright: you can submit another PR with an updated license if you would like. You can also just comment here and say that you're OK with assigning the copyright of these tests to Unison Computing.

[2021-12-11 02:50] runarorama commented on #64
I fixed up the issue with the README and patch, and merged into trunk in hash `#dugkquov83`.

Thanks! 🌈⭐

[2021-12-11 02:50] #64 closed, assigned to nobody

[2021-12-11 02:51] iamevn commented on #64
Thanks! Confirming that I'm okay with assigning the copyright to Unison Computing.

[2021-12-11 02:52] runarorama commented on #65
The issue with the README here is the same as with #64. You made your changes on top of M2k and then made the PR against trunk which has a different README.

I can fix that pretty easily.

[2021-12-11 05:01] runarorama commented on #65
Made some changes to this.

* Avoid building an intermediate list in `count`.
* Removed `filterPresent`, as this exists as `somes`.
* Renamed `countEq` to `countElement`.
* Moved `sum` and `product` to the `Nat` namespace.
* Simplified tests on `drop`. This operation is completely specified by the following law:
    -  for all `x` and `y`, `drop x y + y` is  at least `x`, and `drop (x + y) y` is a

[2021-12-11 05:03] runarorama commented on #65
Merged in base hash `#156u04ms93`. Thanks @iamevn! 🌈⭐

[2021-12-11 05:03] #65 closed, assigned to nobody

[2021-12-11 05:11] runarorama commented on #65
@iamevn Can you make the same statement here that you're good with assigning the copyright to Unison Computing? Alternatively open a PR with your license.

[2021-12-11 05:17] iamevn commented on #65
I'm okay with assigning the copyright to Unison Computing.

[2021-12-14 02:42] runarorama commented on #62
Thank you! Merged to trunk in hash #h9jjijvv53

🌈 ⭐

[2021-12-14 02:42] #62 closed, assigned to nobody

[2021-12-16 19:04] runarorama commented on #42
Just wanted to let you know I'm on this, but won't have time to get it merged until the new year.

[2022-01-12 20:10] runarorama commented on #42
This is merged in base hash `#n0bck9fc12`. Thanks! 🌈⭐️

[2022-01-12 20:10] #42 closed, assigned to nobody

[2022-01-18 18:07] pchiusano opened #68 "`List.modifyAt : Nat -> (a ->{g} a) -> [a] ->{g} Optional [a]`"
[code]

As an experiment, I just pushed this as a gist, which you can pull and merge via -
[code]

[2022-01-19 16:34] pchiusano opened #69 "`Optional.getOrBug : msg -> Optional a -> a`"
[code]

[2022-01-19 17:24] pchiusano opened #70 "Rename `Nat.drop` to `Nat.-` and rename existing `Nat.-` to `Nat.subtractToInt`"
Right now we've got -

[code]

Originally the thinking was that subtracting nats can yield a negative number, hence `Int`. In practice, if you're working with things that are possibly negative, you're using `Int` in the first place, and even if you need to convert between the two types, you would use `Nat.toInt` and not rely on a subtraction operation to do the conversion.

For domains where negat

[2022-01-24 17:02] pchiusano opened #71 "`Abort.orElse` and `Abort.orElse'`"
[code]

[code]

[2022-01-26 21:01] anovstrup commented on #71
@pchiusano Are these methods functionally different from `Abort.toDefault`/`Abort.toDefault!`/`Abort.toDefaultValue`/`Abort.toDefaultValue!`? If not, do the existing methods need better names/docs?

[2022-01-26 21:32] pchiusano commented on #71
Ha. No, I don't think so, I just somehow missed those! I think I'll close this then.

Although the docs on those functions could use improvement (there's no examples, and also some incorrect use of backticks instead of an inline example), and maybe we could crib from this PR for that.

https://share.unison-lang.org/latest/terms/unison/base/Abort/toDefault

[2022-01-26 21:32] #71 closed, assigned to nobody

[2022-02-03 16:15] runarorama commented on #34
Fixed in base root hash `#u7lvivgp36`

Updated:

    1.  List.unsafeAt : Nat -> [a] -> a
        ↓
    2.  List.unsafeAt : Nat -> [a] -> a
        + 3.  unisoncomputing2021 : License
        + 4.  runarorama          : Author

    There were 92 auto-propagated updates.

    5.  patch patch (added 1 updates)

  Added definitions:

    6.  List.at!                              : Nat -> [a] ->{Abort}

[2022-02-03 16:15] #34 closed, assigned to nobody

[2022-02-03 18:48] runarorama commented on #35
Fixed in `#3hemtmumoq`

[2022-02-03 18:48] #35 closed, assigned to nobody

[2022-02-09 19:48] runarorama commented on #36
Fixed in base root hash `#sebqap5tcl`.

`floor` now returns a `Float` instead of an `Int`:

As does `truncate`:

What used to be called `truncate` is now `unsafeToInt : Float -> Int`:

[2022-02-09 19:48] #36 closed, assigned to nobody

[2022-02-11 01:45] runarorama opened #72 "Update type signatures of several higher-order functions"
This updates the signatures of `(.)`, `andThen`, `List.foldLeft`, `List.foldRight`, and several other higher-order functions. Doing so fixes an issue where existing definitions involving these functions don't typecheck.

It also updates a few uses of `(.)` _that should not have typechecked in the first place_. Or at least, it's not clear why they would have typechecked.

 The changes summarized be

[2022-02-15 16:49] ceedubs opened #73 "reading an environment variable is a bit awkward"
The only function that I see for reading an environment variable is:

[code]

A couple of questions come to mind:

- What are the possible types of failure? Just that the environment variable isn't defined? If so, `Optional Text` seems like a more straightforward return type.
- Why `getEnv.impl` as opposed to just `getEnv`? Did we mean to add a `getEnv` helper that returns `Optional` or uses `Exce

[2022-02-15 16:49] ceedubs commented on #73
@runarorama and @rlmark: any thoughts?

[2022-02-15 17:34] rlmark commented on #73
Hmmm, the pattern that I've seen elsewhere is that the `.impl` functions are coupled with a non impl function of the same name that uses `Exception` as the error type.

My vote would be to add a non .impl `getEnv` function and then document that, in keeping with the pattern of other `.base` functions.

[2022-02-17 17:01] pchiusano commented on #72
Okay, we are closing this now in favor of fixing the typechecker to better handle the existing signatures, which was recently merged into trunk: https://github.com/unisonweb/unison/pull/2895

[2022-02-17 17:01] #72 closed, assigned to pchiusano, dolio

[2022-02-18 02:46] runarorama opened #74 "Add docs for `Int`, and a number of missing functions"
This adds docs for `Int` and every function in the `Int` namespace. Also adds a few functions on `Int`, `Float`, and `Nat`.

  The changes summarized below are available for you to review, using the following
  command:

    pull-request.load https://github.com/unisonweb/base:v2:.trunk https://github.com/runarorama/ubase2:.intdocs32

  Updates:

     Int.decrement : Int -> Int
     ↓
     Int.decr

[2022-02-18 18:15] runarorama commented on #74
Merged in v2 branch at `#v1afp6vadr`

[2022-02-18 18:15] #74 closed, assigned to pchiusano

[2022-02-22 19:41] pchiusano commented on #69
Closing in favor of a bigger PR that includes this and some other stuff.

[2022-02-22 19:41] #69 closed, assigned to nobody

[2022-02-22 19:42] pchiusano commented on #68
Closing in favor of bigger PR with a bunch of new stuff for base.

[2022-02-22 19:42] #68 closed, assigned to nobody

[2022-02-22 20:11] pchiusano opened #75 "A bunch of new types and functions extracted from the distributed library"
__Note:__ This is a V2 PR and should be incorporated into a V2 version of base.

This is a PR consisting entirely of new functions and types that came out of work on the distributed library. Some highlights:

* `Each`, a lazy nondeterminism ability that lets you do list comprehension type stuff
* `TMap`, a low contention `STM`-based mutable map
* `Random.float` (generates a floating point between

[2022-02-22 20:17] pchiusano commented on #75
For instance, here's some nice looking docs for `Random.exponential`:

<img width="795" alt="Screen Shot 2022-02-22 at 2 16 15 PM" src="https://user-images.githubusercontent.com/11074/155211928-878db8d2-0fc1-4f0c-82db-46d04160e794.png">

[2022-02-23 21:43] pchiusano opened #76 "Add `video` and `frontMatter` functions for docs, and related types"
@hojberg will work on a PR for this

[2022-02-24 00:18] aryairani commented on #76
Video! 🚀

[2022-02-24 11:14] tarikozkanli opened #77 "A simple Complex Numbers library"
Hello,

This is a very simple api for reprsenting and manipulating complex numbers in Unison.

Below is the output of the create pull request command :+1:

---------------------------
The changes summarized below are available for you to review, using the following command:

    pull-request.load https://github.com/unisonweb/base:v2:.trunk https://github.com/tarik-ozkanli/allmyunisoncode

  Added

[2022-02-24 14:44] hojberg commented on #76
This will work with these Doc additions https://github.com/unisonweb/unison/pull/2946

[2022-02-24 23:22] runarorama commented on #76
What is frontMatter?

[2022-02-24 23:33] hojberg commented on #76
It's this little yaml config often seen at the top of markdown files for blogposts. Captures metadata like title, date, and tags. My intention was to use this to help convert our blog posts to docs.

[2022-02-26 01:54] runarorama commented on #75
Merged to `v2` branch of trunk

[2022-02-26 01:54] #75 closed, assigned to nobody

[2022-02-26 04:44] runarorama commented on #75
I left out `Tuple.compareAt1By` as it's a little too specialized to be in Base.

[2022-02-28 00:15] pchiusano opened #78 "Quick docs for `Map` and `Set`"
[code]

I noticed after the fact that there were some existing V1 docs for `Map` and I didn't try to port. They transclude all the docs of every function in the API it seems like, which is sort of information overload?

Something that I've been doing with my docs is adding "common functions" section at the top, with a `@signatures` of the top 5-7 functions of the type. Because while these types ha

[2022-02-28 20:27] hojberg opened #79 "Doc.Video and Doc.FrontMatter"
This adds a few new builtin types for `Embed` in Unison Doc:

* `Doc.Video` - For embedding video
* `Doc.MediaSource` (used within `Doc.Video`)
* `Doc.FrontMatter` - For embedding front matter

There's also 2 helper functions for making it easier to work with the types:

* `Doc.Video.video : Text -> Text -> Doc`
* `Doc.FrontMatter.frontMatter : [(Text, Text)] -> Doc`

Pull in the definitions and t

[2022-02-28 20:38] hojberg commented on #79
Fixes https://github.com/unisonweb/base/issues/76

[2022-02-28 21:02] pchiusano commented on #79
@hojberg is it really `Doc.FrrontMatter` or was that a typo from manually copying?

[2022-02-28 21:03] hojberg commented on #79
thats a typo - its correct in the code

[2022-03-01 00:35] rlmark opened #80 "Adds Exception ability docs"
* Adds Exception.doc and associated docs to base.

`pull git@github.com:rlmark/basePrsV3:gists:#9a510rcnjo`

Note: ran into a problem with the traditional pull request creation process to the v3 branch. (Process hung for a while.) Let me know if I should re-try or submit an issue for that. I'm using a trunk build of the UCM from Feb 23.

The gist contains the following:

`base.Exception.doc`

[cod

[2022-03-01 18:25] rlmark opened #81 "Adds printLine doc to base"
Adds a doc for the `printLine` function in base.

## Code review

[code]

[code]

[2022-03-01 19:19] runarorama commented on #78
Merged into v3 branch

[2022-03-01 19:19] #78 closed, assigned to nobody

[2022-03-02 16:47] #76 closed, assigned to hojberg

[2022-03-02 19:10] runarorama commented on #81
Merged into V3 branch 🌈⭐

[2022-03-02 19:10] #81 closed, assigned to pchiusano, runarorama

[2022-03-02 19:29] runarorama commented on #80
Merged into v3 branch

🐄 🚴

[2022-03-02 19:29] #80 closed, assigned to pchiusano, runarorama

[2022-03-02 20:00] runarorama commented on #79
Merged in v3 branch.

⛳️❗️

[2022-03-02 20:00] #79 closed, assigned to pchiusano, runarorama

[2022-03-02 23:11] rlmark opened #82 "Adds Nat.doc"
Adds Nat.doc to base.

`pull git@github.com:rlmark/basePrsV3:#vvikjed7vh`

## Code review

[code]

[2022-03-03 02:42] runarorama commented on #70
Fixed in v3 branch

[2022-03-03 02:42] #70 closed, assigned to nobody

[2022-03-03 02:43] runarorama commented on #82
Merged to `v3` branch with minor changes. Note that I've renamed `Nat.drop` to `Nat.-` and the old `Nat.-` is now named `Nat.subtractToInt`.

🏏🗿

[2022-03-03 02:43] #82 closed, assigned to nobody

[2022-03-03 15:05] pchiusano commented on #82
@rlmark I noticed -

[code]

I think that should read "these are valid `Nat` values", @runarorama did you happen to catch this when you merged?

[2022-03-03 15:14] runarorama commented on #82
Caught and corrected.

[2022-03-03 20:53] rlmark opened #83 "Adds `Nat.mod` doc and `Nat.+` doc"
`pull git@github.com:rlmark/basePrsV3:#ah8kjderie`

## Code review

[code]

[2022-03-04 15:27] runarorama commented on #83
Merged into v3 branch

🐞📠

[2022-03-04 15:27] #83 closed, assigned to nobody

[2022-03-04 15:32] runarorama commented on #73
Fixed in v3 branch

[2022-03-04 15:32] #73 closed, assigned to nobody

[2022-03-04 15:34] runarorama commented on #37
`Int.shiftRight` now has docs, as do all functions in the `Int` namespace. Fixed in v3 branch.

[2022-03-04 15:34] #37 closed, assigned to nobody

[2022-03-04 17:48] #53 closed, assigned to pchiusano

[2022-03-04 20:25] runarorama commented on #38
I've added all of these for the primitive types, but it's not really clear what the correct thing to do is with regard to comparison on collections and tuples. Needs design.

[2022-03-04 20:25] #38 closed, assigned to nobody

[2022-03-04 20:27] runarorama opened #84 "Comparison of collection types needs design."
The comparison and equality operations in the `Universal` namespace are not adequate for `List`, `Map`, `Set`, `Tuple`, etc.

Given that we don't have type classes in Unison yet, we need to come up with an interim design for these that is as ergonomic as possible.

[2022-03-16 17:47] hojberg opened #85 "Remove IO.Deprecated"
At this point we should be able to remove the old `IO.Deprecated` type and associated doc.

[2022-03-16 17:48] hojberg opened #86 "Remove base.prs"
There seem to be a `prs` namespace on the top level of base that might be left over from some previous work. I think we can remove this?

[2022-03-16 19:21] pchiusano opened #87 "Docs for `Code` and `Value` types"
Unison has some super cool capabilities for dynamic code loading. This PR documents the primitives:

[code]

And then assuming that looks good you can just `merge .somepr .base.trunk`.

Live preview of the docs:

https://share.unison-lang.org/latest/namespaces/pchiusano/prs/codedocs

[2022-03-16 20:05] rlmark opened #88 "Docs for `Handle` and `FilePath`"
Adds `Handle` and `FilePath` type docs.

This pr is published as a gist at `pull git@github.com:rlmark/basePrsV3:#q8hbida5u2`

## Code review
(the underlines and such aren't showing up)

[code]

[code]

[2022-03-16 21:53] hojberg opened #89 "Add docs for `bug` and `todo`"
Checkout the code with `pull git@github.com:hojberg/unison-sketches.git:#u7gf0n2nud`

See the docs in action on Share: https://share.unison-lang.org/latest/namespaces/hojberg/prs/baseBugTodoDocs

[2022-03-17 16:16] runarorama commented on #89
Merged to `v3` branch. 🌈⭐

[2022-03-17 16:16] #89 closed, assigned to nobody

[2022-03-17 16:19] runarorama commented on #88
Merged into `v3` branch. 🌈🌟

[2022-03-17 16:19] #88 closed, assigned to nobody

[2022-03-17 16:20] runarorama commented on #86
Removed in `v3` branch. 💀🔥⚔️

[2022-03-17 16:20] #86 closed, assigned to nobody

[2022-03-17 16:27] runarorama commented on #87
Merged to `v3` branch. 🌈⭐

[2022-03-17 16:27] #87 closed, assigned to nobody

[2022-03-17 16:30] runarorama commented on #85
Removed in `v3` branch ☠️

[2022-03-17 16:30] #85 closed, assigned to nobody

[2022-03-18 16:54] runarorama commented on #77
Thanks for this! 🌈⭐

I've cleaned this up a bit, and you can check my work by issuing

[code]
 somewhere in your codebase.

 I cleaned up the docs a little and removed the short name aliases (users can always add aliases if they want). Also you had a stray term called `>` and other things like that.

It would also be really awesome if you could add comparison (inequalities) and `Ordering` for `Com

[2022-03-18 17:02] runarorama commented on #63
The convention (so far) is that operations on a data type like `Test` should go under a namespace named after the type. The stuff in `test` is not all operations on `Test` (although admittedly some are).

[2022-03-18 17:02] #63 closed, assigned to nobody

[2022-03-18 17:08] runarorama commented on #63
I moved a number of `Test` combinators into `test.Test` (the namespace for the `Test` type).

[2022-03-18 17:11] runarorama commented on #61
Pushed to `v3` branch. 🌈⭐

[2022-03-18 17:11] #61 closed, assigned to nobody

[2022-03-19 00:37] runarorama commented on #59
Merged in `v3` 🌈 ⭐

[2022-03-19 00:37] #59 closed, assigned to nobody

[2022-03-19 01:49] runarorama commented on #58
Fixed in `v3` branch. Thanks!

[2022-03-19 01:49] #58 closed, assigned to nobody

[2022-03-19 01:49] #57 closed, assigned to nobody

[2022-03-19 04:14] runarorama commented on #56
Merged in `v3` branch 🌈⭐

[2022-03-19 04:14] #56 closed, assigned to nobody

[2022-03-19 04:15] #39 closed, assigned to nobody

[2022-03-19 04:18] runarorama commented on #55
Merged in `v3` branch 🌈⭐

[2022-03-19 04:18] #55 closed, assigned to nobody

[2022-03-19 04:20] runarorama commented on #54
Closing this for now

[2022-03-19 04:20] #54 closed, assigned to nobody

[2022-03-19 04:24] runarorama commented on #48
I'm with @ceedubs on this one. I think this is great, but probably doesn't belong in Base.

[2022-03-19 04:24] #48 closed, assigned to ChrisPenner

[2022-03-19 04:25] runarorama commented on #60
Do you have a suggestion for a fix?

*whispers* (better yet, could you fix it?)

[2022-03-19 04:38] runarorama commented on #49
Merged in `v3` branch. Thanks! 🌈⭐

[2022-03-19 04:38] #49 closed, assigned to runarorama

[2022-03-19 14:13] tarikozkanli commented on #77
Hi Runar,

Thank you for evaluations.

**1. About ordering**
Complex numbers is not an **ordered field**. It does not have a **linear order**. Because of that i passed this feature.
**2. About computing powers**
In order to compute the power of a complex number efficiently we need to convert it to **polar form from our rectangular form**.  After that it is easy to compute the nth power by (and nth

[2022-03-19 14:20] runarorama commented on #77
1. Of course! You're right. 😆
2. We have arctan, sin, cos, etc under `Float`: https://share.unison-lang.org/latest/namespaces/unison/base/;/types/Float

[2022-03-19 14:29] runarorama commented on #77
Conversion to/from polar form would also be a welcome addition, now that you mention it.

[2022-03-19 14:35] tarikozkanli commented on #77
I will be on it.

Thank you.

[2022-03-19 18:51] ChrisPenner commented on #48
No worries, moved to `.chrispenner.bddtest` on share.

[2022-03-20 12:23] ceedubs commented on #60
@runarorama my inclination would be to remove the extra ask in take!. I think that this could surprise people in a bad way since doing take 3 on a 3 element stream would return None. However, I would think that usually when you take part of a stream you aren't really expecting the result at the end of the stream. If you want it you can write a more sophisticated handler.

However, I'd want to look

[2022-03-20 14:44] aryairani opened #90 "docs for `Nat.==`"
I checked at [(Nat.==)](https://share.unison-lang.org/latest/namespaces/unison/base/;/terms/Nat/%3D%3D) and didn't spot it; however I'm not sure whether that's up to date.

[2022-03-21 00:59] runarorama commented on #90
Added in `v3` branch

[2022-03-21 00:59] #90 closed, assigned to nobody

[2022-03-21 01:23] runarorama commented on #43
This needs to go with a change to a couple of builtins:

* `io.getFileTimestamp.impl`
* `io.systemTime.impl`

Thes currently return `Nat` but need to switch to return `Int`. The underlying Haskell functions return an `Int64` anyway so this should not be too hard.

[2022-03-21 13:42] pchiusano commented on #43
`systemTimeMicroseconds` already returns `Int`. `systemTime` (which returns `Nat`) should just be deleted from base at this point... it's been in a couple releases even after `systemTimeMicroseconds` was introduced.

Unfortunate about the `getFileTimestamp` oversight, but yeah, that builtin should be changed (rather, we should introduce a new builtin that returns an `Int`, then delete the old).

[2022-03-24 15:29] runarorama commented on #43
I've changed `EpochTime` to carry an `Int` instead of a `Nat`, but left the resolution the same (it's still 1-second resolution). We need to do a larger overhaul of dates, times, and clocks in general. But for now...

  The changes summarized below are available for you to review, using the following
  command:

    pull-request.load https://github.com/unisonweb/base:v3:.trunk https://github.com/r

[2022-03-24 16:12] atacratic commented on #43
Could we not go the whole way with this and switch to microseconds, as per the plan [here](https://github.com/unisonweb/unison/issues/2359#issuecomment-914366921)?  As it is, epochtime is kind of useless for many applications because of the low resolution.  For example for my datetime lib I would still need a translation to my own data structure, which is a papercut on every interaction with the l

[2022-03-24 16:34] runarorama commented on #43
I'm reluctant to switch the meaning of `EpochTime` as a patch, but I'm planning a better and upgraded clock API with nanosecond resolution:

[code]

`Duration` has as much resolution as you might ever want and also can represent times that are ~40x the Hubble time.

[2022-03-24 16:47] atacratic commented on #43
Nice 👍

(throwaway remarks:  I wonder about `Duration` maybe carrying a resolution indication as a phantom type param.  Probably not.  Also the name 'duration' is maybe a bit awkward for negative values.  But TimeOffset or TimeIncrement or similar is ungainly.  I think I used 'interval' in my lib.)

[2022-03-24 16:52] pchiusano commented on #43
@runarorama that API seems kinda complicated for a builtin, I'd see if you can provide the nano precision without having to introduce new types for it.

I also find it weird to have potentially negative "durations". Duration would typically mean a distance between points in time, which is always positive, unless you're talking adding a direction (forwards or backwards). Which IMO makes it somethin

[2022-03-25 02:40] runarorama commented on #43
What I've settled on is four builtins which expose Haskell's `System.Clock` API:

[code]

`Duration` is maybe not a good name for a time offset. But the question "how long has it been since midnight UTC on Jan 1 1970?" is sometimes negative. We can bikeshed about the name. Haskell's System.Clock calls this `TimeSpec`. JDK 8 calls it `Duration` (and they can meaningfully be negative). I think it's

[2022-03-25 14:02] pchiusano commented on #43
Maybe `TimeOffset` is a good name for the concept of a `Duration` that can be negative?

I still dislike the single `getTime` with an enum for the reasons I gave earlier. Can you explain why you want to keep that? Just have separate builtins for fetching a `TimeOffset` with different meanings. Even as an implementation detail, there is no need to use a `Nat` as a pseudo-enum just because the Haske

[2022-03-25 14:11] runarorama commented on #43
Well, I don't want users to have to call `internal.getTime.v1`, for sure. They'll call one of e.g.:

[code]

Something like that. Should we rather make _those_ built-in?

[2022-03-25 22:30] pchiusano commented on #43
Ya, that's what I was thinking.

[2022-04-05 00:29] iamevn opened #91 "Add `io.getSomeBytes` built-in, document it and `io.getBytes`"
For unisonweb/unison#3029

- Add `io.getSomeBytes`
- Add `io.getSomeBytes.impl` (alias to new built-in in unisonweb/unison#3029)
- Add docs for `io.getSomeBytes` and `io.getBytes`
- Add MIT license for myself

Pull this namespace (just a gist with these terms): `pull git@github.com:iamevn/unison-code:gists:#1d27ucagpi`

 ## Code review

   The changes summarized below are available for you to revi

[2022-04-20 20:54] dolio opened #92 "Add base 32 hex coding for `Bytes`, with some random additions for testing."
This PR adds functions for encoding bytes using base 32 hex encoding. This encoding extends the usual hexadecimal digits rather than starting at A. Both encoding and decoding are written in unison, with an encoding function to both `Text` and `Bytes`, and a decoding function from `Bytes`.

When writing tests, using `Gen` didn't seem to give very good coverage of byte/hex strings, so I cloned some

[2022-04-21 16:05] dolio commented on #92
Just swapped out uses of `toBase32` with `base32Hex` in the scheme stuff, and now I get output for references that I can successfully look up with `find` in ucm. So that seems like a good indication that it's actually working as expected.

[2022-05-07 16:00] dantb opened #93 "`Natural.mod` incorrectly returns 0 for large numbers"
Hi. Think I’ve found an issue with the [Natural.mod](https://share.unison-lang.org/latest/namespaces/unison/base/;/terms/Natural/mod) term (and therefore probably `div`, `divMod` too, since they depend on `divImpl` to do the heavy lifting).

For context, I’m trying to implement RSA (the cryptography algo) which is why the numbers are huge. This example was taken from a public / private key pair I’

[2022-05-11 14:39] runarorama opened #94 "Add system clock builtins and date/time types to support them"
This adds support for the new builtins from https://github.com/unisonweb/unison/pull/3068: `Clock.realtime`, `Clock.monotonic`, `Clock.processCPUTime`, and `Clock.threadCPUTime` as well as a few types to work with the values from those clocks:

* `Instant` is a point in time.
* `Duration` is an amount of time from one `Instant` to another.
* `OffsetDateTime` is a calendar date and time with a UTC

[2022-05-11 18:30] ChrisPenner commented on #94
Just so you know, when loading the pull request on a fresh codebase and running `diff.namespace base merged` I get a 'type not found'

<img width="890" alt="image" src="https://user-images.githubusercontent.com/6439644/167920789-16dac066-8350-4bc8-a8b7-e63cac73635b.png">

[2022-05-11 18:43] runarorama commented on #94
@ChrisPenner this type is a builtin. You need to pull https://github.com/unisonweb/unison/pull/3068

[2022-05-26 01:39] runarorama commented on #94
Merged in base hash `#cbhp7em1d3`

[2022-05-26 01:39] #94 closed, assigned to pchiusano, ChrisPenner

[2022-05-26 14:05] runarorama commented on #91
Merged in base namespace hash `#s5p5jn9j8e` 🌈⭐

[2022-05-26 14:05] #91 closed, assigned to nobody

[2022-05-27 17:48] runarorama commented on #92
Merged into base v4 branch. 🌈 ⭐

[2022-05-27 17:48] #92 closed, assigned to nobody

[2022-06-06 14:50] runarorama commented on #43
This is addressed in #94

[2022-06-06 14:50] #43 closed, assigned to nobody

[2022-06-20 01:16] pchiusano opened #95 "Add `Sha1 : HashAlgorithm`"
https://github.com/unisonweb/unison/pull/3126#issuecomment-1159191701

[2022-06-20 17:59] dolio opened #96 "(Byte)Array API"
This adds a base API for the array primops added in [unison PR #3104](https://github.com/unisonweb/unison/pull/3104). It provides aliases for the builtin types/operations under `Raw` names, and wraps them with data types that track an offset+length for faster slicing operations.

I didn't do tests in the actual test category, but most of the docs contain code examples that exercise the functions.

[2022-06-22 14:36] dfreeman commented on #95
I've got this in a (v5) codebase at `git@github.com:dfreeman/unison-codebase.git` under `.dfreeman.sha1`. It also includes some simple doc additions.

[code]

[2022-06-22 19:17] dolio commented on #96
I've added a few more array functions to the namespace that came up when I was getting back into compiler work. Let me know if there are any problems, since there have been some changes with the tooling in the interim. Hopefully I pushed the new stuff correctly.

[2022-06-29 13:12] runarorama opened #97 "Doc for `Int.toRepresentation` in `Int.README` is slightly wrong"
This should be:

[2022-07-01 20:29] pchiusano opened #98 "Builtins and docs for `Pattern` and `Text.patterns` primitives"
Add names and docs for builtins defined at in:

https://github.com/unisonweb/unison/pull/3173

[2022-07-06 17:20] mitchellwrosen opened #99 "M3 release isn't self-contained"
If you run `namespace.dependencies`, you'll see a few things reported as nameless in the `M3` context.

[2022-07-06 17:28] pchiusano commented on #98
This is all set: https://share-next.unison-lang.org/users/unison/code/latest/namespaces/public/base/main/;/types/Pattern

[2022-07-06 17:28] #98 closed, assigned to nobody

[2022-07-07 17:18] runarorama commented on #96
Merged into https://share-next.unison-lang.org/users/unison/code/latest/namespaces/public/base/main

🌈⭐

[2022-07-07 17:18] #96 closed, assigned to nobody

[2022-08-18 16:27] stew commented on #99
I think that we should try to fix this up before an M5 release. @runarorama any chance you could spend some time cleaning this up?

when you are in the base directory `namespace.dependencies` should not show any external dependencies

[2022-08-18 19:02] runarorama commented on #99
I can take a look tonight.

[2022-08-19 02:36] runarorama commented on #99
There's a lot of deleted `Doc.Deprecated` docs still linked to terms in `base`. These are old docs that no longer exist, but the links to the deleted values still exist. Maybe somebody could help me come up with a SQL query to unlink these in one fell swoop.

Basically we want to delete all links to values of type `Doc.Deprecated`.

[2022-08-20 02:53] aryairani commented on #99
Unfortunately there’s no way to do this with a SQL query without a codebase rewrite that’s a bit further down the road at least. Awk or some other text processor might be our best bet for now. e.g. take the output of namespace.dependencies and convert it to a bunch of unlink commands to paste into ucm

[2022-08-20 03:40] ChrisPenner commented on #99
I'd be game to take a look at this with you some time next week, the awk thing would be great if that works, if it doesn't work out maybe I can just write a custom throw-away migration for this that we don't even merge :shrug:

[2022-08-24 18:32] runarorama commented on #99
I resolved this by unlinking the deprecated docs manually.

[2022-08-24 18:32] #99 closed, assigned to runarorama

[2022-08-24 18:32] runarorama commented on #99
[code]

[2022-08-25 16:56] bobholt opened #100 "Update tour and contributing docs"
This PR is intended to update `unison.public.website.learn.tour` and `unison.public.website.learn.contributeDocs`. My changes do not all appear to be represented in the output below, but are visible in on https://share.unison-lang.org/@bobholt/code/latest/terms/public/prs/learn/_updateTour/. I'll summarize the changes in addition to the Code review below:

- changed references to `base.List` and `

[2022-08-25 17:36] rlmark commented on #100
Awesome! I'll take a look now!

[2022-08-25 22:17] rlmark commented on #100
Thank you @bobholt! This has been merged and deployed to prod.

[2022-08-25 22:17] #100 closed, assigned to rlmark

[2022-09-02 20:08] ceedubs opened #101 "Stream.flatMap has an overly-restrictive type signature"
This applies to both `Stream.flatMap` and `Stream.flatMap!`, so I'll use `Stream.flatMap!` as the example.

The current implementation is:

[code]

However, the `r` that's returned by `f` is totally ignored. Without changing the implementation it could be a generic `r2` or `()` to make it a bit more explicit that its result is inconsequential.

Imagine for example that you want to implement `filte

[2022-09-02 20:21] ceedubs commented on #101
@anovstrup weighed in and suggested using `r2` instead of `()` so the caller doesn't have to throw in an `ignore` if their function doesn't return `()`. Sounds fine to me.

[2022-09-02 20:40] ceedubs opened #102 "Stream docs have some formatting issues"
A number of the docs for `Stream` have some minor formatting issues. See the image below (also [here](https://share.unison-lang.org/@unison/code/latest/namespaces/public.base.latest/;/terms/data/Stream/%2B%2B)) for an example.

The two main issues that I've noticed are:

- Using single backticks instead of double backticks when intending to create monospace text.
  - Hopefully soon docs can use si

[2022-09-03 01:02] anovstrup opened #103 "Stream.flatMap changes"
This PR:
* Generalizes `Stream.flatMap` & `Stream.flatMap!` (see #101)
* Adds `Stream.concatMap` & `Stream.concatMap!`, implemented in terms of `Stream.flatMap!`
* Fixes some Stream docs (see #102)
* Reimplements `Stream.filter!` in terms of `Stream.concatMap!`

## Code review

  The changes summarized below are available for you to review, using the following command:

    pull-request.load uniso

[2022-09-04 18:50] mgladdish opened #104 "Float.toNat is broken"
Float.toNat says it

But its implementation doesn't appear to do that. Even with the examples given in the docs.

`Float.toNat 3.99` should be `Some 3` but it's actually `Some 1`

[2022-09-04 18:58] mgladdish opened #105 "Document what Float.toRepresentation returns"
Diagnosing a related issue I saw a call to `Float.toRepresentation`.

Unfortunately all the docs say is

and there's no implementation to see what it actually does. And I haven't yet found another way of finding out what it does.

[2022-09-05 02:33] runarorama commented on #104
Fixed in `main` branch as of hash `#irtems4ssa`.

[code]

[2022-09-05 02:33] #104 closed, assigned to nobody

[2022-09-05 02:35] runarorama commented on #105
Added docs to `main` branch in hash `#odtopr91a7`.

[code]

[2022-09-05 02:35] #105 closed, assigned to nobody

[2022-09-06 14:28] ceedubs commented on #103
Thanks @anovstrup! These changes look good to me.

`Stream` could definitely use some more unit tests, and adding some for `concatMap` might be a good place to start, as it will transitively test some other functions like `flatMap`.

@runarorama do you want me to go ahead and push this change or do you want to take a look?

[2022-09-06 14:55] runarorama commented on #103
Push it!

[2022-09-06 17:45] ceedubs commented on #103
Merged to `base.main` as of `#r4p564erqm`!

[2022-09-06 17:45] #103 closed, assigned to nobody

[2022-09-06 17:45] ceedubs commented on #101
Resolved by #103

[2022-09-06 17:45] #101 closed, assigned to nobody

[2022-09-06 17:46] ceedubs commented on #102
I believe that this is resolved by #103.

[2022-09-06 17:46] #102 closed, assigned to nobody

[2022-09-08 01:49] stew opened #106 "document buffering in the Handle documentation"
We should specifically call out the setBuffering command in the documentation for Handle and in the stdIn stdOut handles documentation, as it can be suprising to people that (I believe) these are line buffered by default.

[2022-09-08 02:02] stew commented on #106
https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/;/terms/main/io/Handle/doc

[2022-09-08 02:02] #106 closed, assigned to nobody

[2022-09-13 17:20] ceedubs opened #107 "Add functions for catching runtime exceptions"
This adds an `io.tryEval.impl` alias for the `##IO.tryEval` that was added in https://github.com/unisonweb/unison/pull/3365 .

It also adds a couple of helper functions and some docs.

- [tryEval.impl](https://share.unison-lang.org/@ceedubs/code/latest/namespaces/public/pr/base/tryEval/;/terms/io/tryEval/impl)
- [tryEval](https://share.unison-lang.org/@ceedubs/code/latest/namespaces/public/pr/base

[2022-09-14 14:01] ceedubs commented on #107
I've added some tests, but they won't pass until https://github.com/unisonweb/unison/pull/3413 is merged.

[2022-09-15 00:47] ceedubs commented on #107
https://github.com/unisonweb/unison/pull/3413 is merged, so this should be good to go @runarorama

[2022-09-16 01:07] runarorama commented on #107
Pushed to `main` as hash `#po9hhb74mh`

🌈⭐

[2022-09-16 01:07] #107 closed, assigned to runarorama

[2022-09-16 15:45] ceedubs opened #108 "doc for test.ensure' is wrong"
https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/terms/@9cu0pmpkvall4es4hvstgm5t57vaa4hovp2i4m1ukp6898ngign8eq9vr5a8v79go3tgpttehicl21innishmqp387oc2j8mcgj88ro

It states `ensure' msg true returns ()`, but it actually returns `msg`.

I didn't submit a fix because I'm not sure whether we should change the doc or or the return type. It kinda feels like it should retu

[2022-09-20 22:20] dolio opened #109 "More `data.ByteArray` functionality"
This PR adds various `data.ByteArray` functions. They are motivated primarily by a port of unison's internal representation of `Bytes` to pure unison that I'm working on. Some tests are also included.

## Code review

  The changes summarized below are available for you to review, using the
  following command:

    pull-request.load unison.public.base.main dolio.public.base.vector

  Updates:

[2022-09-22 14:59] pchiusano opened #110 "`Tls` type has no documentation"
https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/types/io/Tls

@stew maybe you could take a crack at this since I think you've actually used the API?

[2022-09-22 15:03] pchiusano commented on #110
Also `ClientConfig` has no docs.

[2022-09-22 18:02] runarorama commented on #41
I attempt to address this with the `Resource` ability posted here:

https://share.unison-lang.org/@runarorama/code/latest/namespaces/public/resource/trunk/

This might make its way into Base at some point

[2022-09-22 18:23] runarorama commented on #60
Fixed with a new implementation of `take!`:

[code]

[2022-09-22 18:23] #60 closed, assigned to nobody

[2022-09-22 18:43] runarorama commented on #95
Hey @dfreeman could you push these to https://share.unison-lang.org? I am having some trouble pulling your codebase from GitHub

[2022-09-22 18:47] runarorama commented on #97
This got fixed at some point 🤷

[2022-09-22 18:47] #97 closed, assigned to nobody

[2022-09-22 18:59] runarorama commented on #108
I changed the return type to `()`. It's unlikely that anyone is relying on the return type being the type of the message.

[2022-09-22 18:59] #108 closed, assigned to pchiusano

[2022-09-22 19:53] runarorama opened #111 "Rename io functions to be more discoverable"
Incomplete list:

|Old Name|New Name|
|---|---|
|io.socketReceive | io.Socket.receive |
|io.socketSend | io.Socket.send |
|io.socketClose | io.Socket.close |
|io.socketPort | io.Socket.port |
|io.getBuffering | io.Handle.getBuffering |
|io.getBytes | io.Handle.getBytes |
|io.getSomeBytes | io.Handle.getSomeBytes |
|io.getLine | io.Handle.getLine |
|io.handlePosition | io.Handle.position |
|io.isFi

[2022-09-22 19:53] runarorama commented on #111
I did this in `main`. I also moved a bunch of `FilePath` operations under the `FilePath` namespace.

[2022-09-22 19:53] #111 closed, assigned to nobody

[2022-09-22 19:57] hojberg opened #112 "`Socket` has no documentation"
See https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/@@Socket

[2022-09-24 02:59] runarorama commented on #112
Added docs for `Socket`:

https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/@@Socket

[2022-09-24 02:59] #112 closed, assigned to nobody

[2022-09-24 03:46] runarorama commented on #110
I've added docs for both of these:

https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/@@Tls

[2022-09-24 03:46] #110 closed, assigned to stew, runarorama

[2022-09-25 00:16] runarorama commented on #109
Merged into `main` 🌈⭐

[2022-09-25 00:16] #109 closed, assigned to nobody

[2022-09-25 18:29] chiroptical opened #113 "Add `averageMonth` and `averageMonths` in the Gregorian calendar"
While working on the `sql` changes, I realized it would be useful to have `averageMonth` and `averageMonths` while working with iso8601 time intervals. The time in seconds is equal to the average seconds in a month for the Gregorian calendar.

Unsure if I have properly linked author and license information. Please let me know.

## Code review

  The changes summarized below are available for you t

[2022-09-25 19:15] runarorama opened #114 "Missing documentation"
The following definitions are all currently missing a corresponding `Doc` in Base.

I've sorted them by length, presuming that definitions with shorter names are probably more important to document.

If you want to add docs for a definition here, tick its box and [follow the instructions in CONTRIBUTING.md](https://github.com/unisonweb/base/blob/main/CONTRIBUTING.md) for how to make a pull-request

[2022-09-27 15:45] loewenheim opened #115 "base.data.Heap: add insert function"
This adds an `insert` function to `base.data.Heap`. It's implemented in terms of `singleton` and `union`.

## Code review
[code]

[2022-09-27 20:15] runarorama commented on #115
A couple of things:

1. Could you also push your `Author`? Put it in `metadata.authors` alongside other Base authors. I want to make sure you're properly represented as a contributor.
2. Can you either link the Unison MIT license, or another compatible license? You can also just comment here if you're assigning the copyright of this to Unison Computing.
3. It makes no difference in this case, but

[2022-09-27 20:25] runarorama commented on #115
Oh, I have the hash of your `Author` and `GUID`, so I'll just give them names under `metadata.authors`. I think we're good to go.

[2022-09-27 20:33] runarorama commented on #115
Merged into `main`. 🌈⭐

[2022-09-27 20:33] #115 closed, assigned to nobody

[2022-09-27 20:47] runarorama commented on #113
The author and license were missing names in `base`, so I've added those.

Otherwise, looks great!

Merged into `main`. 🌈⭐

[2022-09-27 20:47] #113 closed, assigned to nobody

[2022-10-04 20:52] stew opened #120 "tryEval, catchAll should allow other effects"
[code]

should change to

[code]

[2022-10-04 21:24] vic commented on #120
I would love to help fixing this, would it be possible ? I believe doing this will teach me how to contribute patches to unison.

I'm guessing this is tryEval is implemented in Unison, right ? or is it a builtin ? Will try to have a look today after work.

[2022-10-05 00:53] ceedubs commented on #120
I think that @dolio said that it was harder to make the builtin support other abilities; am I remembering that right?

If the builtin were to change, it could potentially surprise people that doing something like `handle catchAll httpCall with Http.handler` could still throw exceptions, because the `{Http}` is handled into `{IO, Exception}` _after_ the `catchAll`. At least that's what I would thin

[2022-10-11 14:26] dolio commented on #120
`tryEval.impl` is a builtin, and it doesn't make sense to generalize it to arbitrary other abilities. You can think of it like temporarily switching to a new thread where runtime level exceptions are reified.

You can try to make `catchAll` more general, because it is using handlers to mediate the effects through the required just-`IO` spot. If that seems difficult/impossible for arbitrary `g`, th

[2022-10-13 02:24] runarorama commented on #114
Added documentation for 653 definitions in `main` of Base.

 🌈⭐

[2022-10-13 02:24] #114 closed, assigned to nobody

[2022-10-13 15:10] pchiusano opened #116 "Use standard naming convention and types for things that can fail"
We have some functions that return `Either Text a`, others that return `Either Failure a`, and others that require `{Exception}`. I think `Either Text a` is right out, just replace that with `Either Failure a` in all cases, since the `Failure` can contain a `Text` message as well as an error type.

Maybe the ones that return `Either` start with `try`, and the ones that throw exception don't.

Ofte

[2022-10-13 16:34] pchiusano opened #117 "Add set echo builtins"
https://github.com/unisonweb/unison/pull/3476

[2022-10-13 16:39] aryairani opened #118 "missing name for `##Bytes.fromBase64UrlUnpadded`"
This builtin is referenced by `Bytes.fromBase64UrlUnpadded.doc`

It looks like the name `Bytes.frombase64UrlUnpadded` was present in `releases.M4` but is not in `main`.

[2022-10-13 16:45] pchiusano commented on #118
@runarorama I could have sworn you added this when we were jamming earlier, but I bet you just forgot to push.

[2022-10-13 16:49] pchiusano opened #119 "Make sure `namespace.dependencies` is empty for all of base"
#118 is I think the only thing left for this

[2022-10-13 17:01] pchiusano commented on #120
I'm moving this over to base, since as @dolio explained, the builtins can't be generalized. But I believe functions with the signatures @stew wants can be written that use the builtins.

[2022-10-13 17:45] runarorama commented on #118
I think this is an issue with merge somehow. The name is in my codebase and I have no diffs with upstream Base on Share.

[2022-10-13 17:50] runarorama commented on #118
Looks like I resolved the issue by doing the following:

1. Move the term to another name.
2. Push
3. Move it back.
4. Push again.

[2022-10-13 17:50] #118 closed, assigned to runarorama

[2022-10-13 17:51] runarorama commented on #95
I've added some docs to these definitions.

[2022-10-13 17:51] #95 closed, assigned to nobody

[2022-10-13 18:01] runarorama commented on #119
[code]

[2022-10-13 18:01] #119 closed, assigned to runarorama

[2022-10-13 20:12] runarorama commented on #117
Done and dusted: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/IO/Handle

[2022-10-13 20:12] #117 closed, assigned to nobody

[2022-10-14 19:06] runarorama commented on #120
[code]

[2022-10-14 20:17] aryairani commented on #118
Hm :-\ ok (re merge weirdness)
Thanks!

[2022-10-17 13:10] ceedubs commented on #120
@runarorama have you tested those changes? I think that `catchAll` and `tryEval` now just infinitely recurse into each other.

It also looks like the tests in `IO.catchAll.tests` and `tryEval.doc` reference old hashes.

[2022-10-17 14:17] runarorama commented on #120
I did run the tests, but as you say they were not updated for some reason.

[2022-10-17 16:54] runarorama commented on #120
Rolled these changes back.

[2022-10-17 16:54] #120 closed, assigned to ceedubs

[2022-10-17 17:18] ceedubs opened #121 "Map.Nonempty and Set.Nonempty?"
I just found myself wishing that I had a `Set.Nonempty` similar to `List.Nonempty`. Is this something that anyone else has found themselves wishing they had? It looks like `Set` is implemented in terms of `Map`, so if we were to add one I'd imagine that we'd add the other.

[2022-10-17 17:19] runarorama commented on #121
What do you think of:

[code]

[2022-10-17 17:21] runarorama commented on #121
OK, just convinced myself that will not work :)

[2022-10-17 17:24] ceedubs commented on #121
Even if it _would_ work my experience with this sort of structure in the Scala world was that it worked well for cons-lists (other than adding some indirection that could be confusing to newcomers), but it was a little bit awkward for pretty much any other structure (performance, one-off methods to support a specific collection type, etc).

[2022-10-19 04:31] runarorama commented on #121
Nonempty maps are here: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/data/Map/Nonempty

[2022-10-19 19:10] runarorama commented on #121
Here's nonempty set: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/data/Set/Nonempty

[2022-10-19 19:10] #121 closed, assigned to nobody

[2022-11-03 19:06] ceedubs commented on #116
https://github.com/unisonweb/unison/issues/3336 is related (opened on unisonweb/unison as opposed to unisonweb/base).

[2022-11-04 11:17] ceedubs commented on #93
Sorry for the really slow reply, but thanks for reporting this @dantb!

There was a bit of discussion about this on Slack and the consensus seems to be that `Natural` should probably be removed from base. It may become a `builtin` in the Unison language, or it might be extracted into a separate library.

[2022-11-04 15:45] runarorama opened #122 "`byteArrayOf` takes its arguments in the wrong order."
See https://github.com/unisonweb/unison/issues/3542

[2022-11-04 15:45] #122 closed, assigned to nobody

[2022-11-07 22:11] pchiusano opened #123 "Very sad and lonely docs for TQueue"
<img width="727" alt="image" src="https://user-images.githubusercontent.com/11074/200426399-cc7e0563-edde-4347-b81d-ff3fb5b878b0.png">

https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/types/IO/concurrent/STM/TQueue

[2022-11-10 16:26] runarorama opened #124 "Standardize argument order for various data types"
For example, `foldMap` takes arguments in different order for e.g. `List` vs `List.Nonempty`, `Map`, etc.

[2022-11-16 04:45] runarorama commented on #123
Cheer up: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/types/IO/concurrent/STM/TQueue

[2022-11-16 04:45] #123 closed, assigned to nobody

[2022-11-16 17:01] pchiusano commented on #123
nice!

[2022-11-21 00:59] runarorama commented on #47
Pretty much everyting in Base has docs now, so I'm closing this for now.

[2022-11-21 00:59] #47 closed, assigned to nobody

[2022-11-30 02:37] ceedubs opened #125 "Text.head and Text.charAt"
`Text.charAt` is similar to `List.at` and we found ourselves wanting it when working on Advent of Code problems in community day. It could probably be implemented more efficiently as a builtin, but I figured that this performance shouldn't be too awful, and it's useful to have in base now even if it gets added as a builtin later.

## Code review

  The changes summarized below are available for yo

[2022-11-30 02:47] runarorama commented on #125
Merged into `main`. Thanks! 🌈⭐

[2022-11-30 02:47] #125 closed, assigned to runarorama